# https://github.com/pallets/flask
Flask
# https://github.com/pallets/flask-sqlalchemy
Flask-SQLAlchemy
# https://github.com/vimalloc/flask-jwt-extended
flask-jwt-extended
# https://github.com/alisaifee/flask-limiter
Flask-Limiter
# https://github.com/benoitc/gunicorn
gunicorn
# https://github.com/pallets/werkzeug
Werkzeug
