
<h2>Upload your file here</h2>
<p class="lead">Upload File <b>Using API</b></p>

<!-- Upload  -->
<form id="file-upload-form" class="uploader" method="POST" action="/uploadimage" enctype="multipart/form-data">
  <input id="file-upload" type="file" name="files" accept="image/*" multiple="multiple"/>

  <label for="file-upload" id="file-drag">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
  </label>
  <button class="btn" type="submit">Submit</button>
</form>
