<div id="heading">
    <h2>Click your image from webcam</h2>
    <p class="lead">Upload File <b>Using API</b></p>
</div>
<!-- Upload  -->
<form id="file-upload-form" class="uploader" method="POST" action="/uploadimage" enctype="multipart/form-data">
  <!-- <input id="file-upload" type="file" name="files" accept="image/*" multiple="multiple"/>
  <button class="btn" type="submit">Submit</button> -->
</form>

<div id ="rightdevice"></div>
<video id="webcam" autoplay playsinline width="640" height="480"></video>
<canvas id="canvas" class="d-none"></canvas>
<audio id="snapSound" src="audio/snap.wav" preload = "auto"></audio>

<div id="clickbutton">
<button class="uploader btn" style="background: #454cad;color:white" onclick="photo()">Click a Photo</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>

<script type="text/javascript" src="static/js/snap.js"></script>
